:host{
  display: block;
}

.mat-card{
  + .mat-card{
    margin-top: 16px;
  }
}

.mat-card{
  display: grid;
  grid-template-columns: 120px repeat(2, 1fr) 100px auto;
  grid-template-rows: auto;
}

div{
  align-self: center;
}

.text-align-right{
  text-align: right;
}

button{
  margin-left: 24px;
}

strong{
  font-weight: 500;
}