<mat-card *ngFor="let option of selectedOptions">
  <div>{{ option.date.toLocaleDateString('en-US') }}</div>
  <div>{{ option.city }}</div>
  <div>
    <ng-container *ngIf="option.stops > 0">
      {{ option.stops === 1 ? '1 stop' : option.stops + ' stops' }}
    </ng-container>
    <ng-container *ngIf="!option.stops">
      Nonstop
    </ng-container>
  </div>
  <div>
    <strong>{{ option.price }}€</strong>
  </div>
  <button mat-raised-button color="warn" (click)="removeId.emit(option.id)">Remove</button>
</mat-card>