
<mat-drawer-container>
  <mat-drawer #drawer mode="side" position="end" opened>
    <h3 class="mat-h3">Selected options</h3>
    <app-selected-options
      [selectedOptions]="selectedOptions$ | async"
      (removeId)="removeOption($event)"></app-selected-options>
  </mat-drawer>

  <div class="container">
    <h2 class="mat-h2">Hello {{ (user$ | async)?.name }}</h2>
    <mat-divider></mat-divider>
    <h3 class="mat-h3">Search flights</h3>
    <app-search-form (searchChange)="searchFormData$.next($event)"></app-search-form>
    <ng-container *ngIf="searchFormData$ | async">
      <app-search-filters (filtersChange)="filters$.next($event)"></app-search-filters>
      <h3 class="mat-h3">{{ (searchResults$ | async)?.length }} search results</h3>
      <app-search-results
        [searchResults]="searchResults$ | async"
        (selectionChange)="selectOption($event)">
      </app-search-results>
    </ng-container>
  </div>
</mat-drawer-container>